@font-face {
    font-family: 'Nerdo Mono';
    src: url('fonts/HackNerdFontMono-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nerd Mono'; /* Monospace font for a hacker look */
    margin: 0;
    padding: 20px; /* Add some padding */
    background-color: #000; /* Black background for a terminal feel */
    color: #fff; /* White text color */
    line-height: 1.4; /* Reduce line height for tighter spacing */
}

h1, h2, h3, h4, h5, h6 {
    display: none; /* Hide headings */
}

p, ul, ol, li {
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    color: #fff; /* Ensure text is white */
}

p {
    margin-bottom: 10px; /* Add some space between paragraphs */
}

ul, ol {
    padding-left: 20px; /* Indent lists for better readability */
    margin: 0; /* Remove margin */
}

a {
    color: #fff; /* White links for consistency */
    text-decoration: none; /* Remove underline from links */
}
